.text-center {
    text-align: center;
    color: #dfd920;
    background-color: #ffffff;
  
  }
  
  .bg-red {
    background-color: red;
  }
  
  .mx-auto {
    margin: auto;
  }
  
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }